@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager Homepage</h2>

<div class="container">
    <a asp-controller="ManagerSalary" asp-action="Index" class="btn btn-primary">Manage Salary</a>

</div>
